body {
  margin: 0px;
  padding: 0px;
}

.box {
  width: 200px;
  height: 100px;
  border: 1px solid #333;
  text-align: center;
  padding: 10px;
}

.absolute {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff6666;
}

.relative {
  position: relative;
  top: 20px;
  left: 20px;
  background-color: #66ff66;
}
